.container120 {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.container140 {
  max-width: 1240px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

.container258 {
  max-width: 964px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}