.footer {
  padding: 32px 0;
  max-width: 100vw;
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    font-size: 14px;
    color: #939EB4;

    &__left {
      color: #939EB4;
    }

    &__right {
      display: flex;

      a {
        margin-left: 32px;
        color: #939EB4;
        text-decoration: none;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
