@import "./header";
@import "./footer";
@import "./input";
@import "./select";
@import "./index/hero";
@import "./index/featured";
@import "./index/discover";
@import "./index/travels_form";
@import "./index/recent_section";
@import "./story/main";
@import "./story/adventure";
@import "./story/highlights";


@font-face {
  font-family: "Black Signature";
  src: url('../fonts/BlackSignaturePersonalUseOnlyRegular.otf') format('opentype');
}

@font-face {
  font-family: "Changa One";
  src: url("../fonts/ChangaOne-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}

body {
  min-height: 100vh;
  background-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

.container120 {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.container140 {
  max-width: 1240px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

.container258 {
  max-width: 964px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  min-height: 100vh;
}